body {
    font-size: 1.6em;
    font-family: "Times New Roman", Times, serif;
}


/*
span h2 {
font-family: "Times New Roman", Times, serif;
}
 */

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
    font-family: "Times New Roman", Times, serif !important;
}

.aboutcity {
    float: left;
    width: 100%;
    margin-bottom: 0px;
}

.aboutcity {
    padding: 25px 0px 125px;
    /*border: solid green 1px;*/
    height: 400px !important;
}

.city_department_wrap {
    float: left;
    width: 100%;
}

.city_department_wrap {
    /* background-image: url("images/department-bg.png");*/
    background-repeat: no-repeat;
    background-size: cover;
    /*padding-bottom: 10px;*/
    padding: 25px 0px 125px;
}

.city_top_search {
    position: relative;
    float: left;
    width: 9%;
}

.city_top_search input {
    padding: 0px 0px;
    height: auto;
    font-size: 15px;
    color: #fff;
    background: none;
    border: none;
    padding: 0px 30px 0px 0px;
}

.city_top_search input::placeholder {
    color: #fff;
}

.city_top_search a {
    position: absolute;
    top: 2px;
    right: 0px;
    color: #fff;
    font-size: 13px;
}

.top_user {
    float: right;
    width: auto;
    color: #fff;
    line-height: 12px;
    padding: 0px 0px 0px 10px;
    margin: 4px 0px;
    border-left: 1px solid #fff;
    font-size: 15px;
}

.officeclass {
    padding: 0px 0px 0px !important;
    margin: 0px !important;
    /*border: 1px solid red;
    /*position: relative;*/
}

.newsclass {
    padding: 20px 0px 0px !important;
    margin: 0px !important;
    /*border: 1px solid red;
    /*position: relative;*/
}

.officelist {
    min-height: 250px !important;
}
.newslist {
    min-height: 500px !important;
    /* border: 1px solid black; */
    bottom: 10%;
}

.officecontainer {
    padding: 0%;
}

.newslist {
    height: 400px !important;
}