<!DOCTYPE html>
{% set attributes = attributes.addClass('demo-5') %}
{{ attach_library('my_city/mystyle') }}
<html{{ html_attributes }}>
  <head>
    <meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
  </head>
  <body{{ attributes }}>

    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
  </body>
</html>

<script>document.documentElement.className = 'js';</script>
<script>
/*$('span[property|="schema:name"]').hide();*/
</script>

