<div
	class="wrapper">
	{# CITY TOP WRAP START #}
	<div class="city_top_wrap">
		<div
			class="container-fluid">
			{# site branding start #}
			<div class="city_top_logo">
				<figure>
					{% if site_logo %}
						<a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
							<img src="{{ site_logo }}" alt="{{ 'Home'|t }}" width="60px" height="90px"/>
						</a>
					{% else %}
						<a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
							<h1>{{ site_name }}</h1>
						</a>
					{% endif %}
				</figure>
			</div>
			{# site branding end #}

			{# Updates block start #}
			{% if site_slogan %}
				<h4 style='background-color:#white; margin-left: 36%;  font-family: "Times New Roman", Times, serif;font: italic small-caps bold 20px/35px Georgia, serif;'>
					{{ site_slogan }}
				</h4>
			{% endif %}
			{{ page.city_update }}
{# 
  <div class="fb-page" data-href="https://www.facebook.com/Amsalu-Tadesse-1447308918832651/" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Amsalu-Tadesse-1447308918832651/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Amsalu-Tadesse-1447308918832651/">Amsalu Tadesse</a></blockquote></div> #}


			

			{# Updates block end #}

			{# Social Links Block Start #}
			
				<div class="city_top_social" > <ul>

					<li>
						<select id="mySelect" onchange="myFunction()" style="margin-right: 10%; ">
							{% for code,name in activ_langs %}
								<option value="{{code}}" {% if current_lang == code %} selected {% endif %}>
									{{ code }}
								</option>
							{% endfor %}
						</select>
					</li>
					{% if facebook_url %}
						<li>
							<a href="{{ facebook_url }}">
								<i class="fa fa-facebook"></i>
							</a>
						</li>
					{% endif %}

					{% if twitter_url %}
						<li>
							<a href="{{ twitter_url }}">
								<i class="fa fa-twitter"></i>
							</a>
						</li>
					{% endif %}

					{% if linkedin_url %}
						<li>
							<a href="{{ linkedin_url }}">
								<i class="fa fa-linkedin"></i>
							</a>
						</li>
					{% endif %}

					{% if youtube_url %}
						<li>
							<a href="{{ youtube_url }}">
								<i class="fa fa-youtube"></i>
							</a>
						</li>
					{% endif %}

					{% if telegram_url %}
						<li>
							<a href="{{ telegram_url }}">
								<i class="fa fa-telegram"></i>
							</a>
						</li>
					{% endif %}

					{% if whatsapp_url %}
						<li>
							<a href="{{ whatsapp_url }}">
								<i class="fa fa-whatsapp"></i>
							</a>
						</li>
					{% endif %}


				</ul>

				{{ page.social_links}}
				<ul>
					{{ page.wcag }}
				</ul>
			</div>
			{# Social Links Block end #}
		</div>
	</div>
	{# CITY TOP WRAP END #}

	<!--CITY TOP NAVIGATION START-->

	{# <div class="city_top_navigation">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="navigation"> #}
	{{ page.primary_menu }}

	{# </div>
					</div> #}
	{# <div class="col-md-3">
						<div class="city_top_form">
							<div class="city_top_search">
								<input type="text" placeholder="{{ 'Search'|t }}">
								<a href="#">
									<i class="fa fa-search"></i>
								</a>
							</div>
							<a class="top_user" href="{{ path('user.login') }}">
								<i class="fa fa-user"></i>
							</a>
						</div>
					</div> #}
	{# </div>
			</div>
		</div> #}

	{# {% if is_front %}
						<div class="container"></div>
					{% else %}
						<div class="sab_banner overlay">
							<div class="container">
								<div class="sab_banner_text">
									<h2>
										{{page.title }}</h2>
									<ul class="breadcrumb">
				
										<li class="breadcrumb-item active">
											{{ page.breadcrumb }}</li>
									</ul>
								</div>
							</div>
						</div><br>
					{% endif %} #}
	{{ page.highlighted }}

		{{ page.help }} <main role="main"><a id="main-content" tabindex="-1"></a>

		<div class="content wrapper">
			{{ page.content }}
		</div>


		{% if page.sidebar_first %}
			<aside class="layout-sidebar-first" role="complementary">
				{{ page.sidebar_first }}
			</aside>
		{% endif %}

		{% if page.sidebar_second %}
			<aside class="layout-sidebar-second" role="complementary">
				{{ page.sidebar_second }}
			</aside>
		{% endif %}

	</main>
	{# CITY REQUEST WRAP start #}
	<div class="city_requset_wrap mt-3">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div class="city_request_list">
						<div class="city_request_row">
							<span>
								<i class="fa icon-question"></i>
							</span>
							<div class="city_request_text">
								<span>{{ 'For Suggestions and'|t }}</span>
								<h4>{{ 'Complaints'|t }}</h4>
							</div>
						</div>
						<div class="city_request_link">
							<div class="col-md-3 col-sm-6">
								<div class="city_health2_service text-center">
									<span>
										<i class="fa fa-phone"></i>
									</span>
									<h5>
										{{ 'Call Us'|t }}
									</h5>
									<p>
										{{ suggestion_complaint_phone }}
									</p>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 text-center">
								<div class="city_health2_service">
									<span>
										<i class="fa fa-envelope"></i>
									</span>
									<h5>
										<a href="#">{{ 'Send Email'|t }}</a>
									</h5>
									<p>
										{{ suggestion_complaint_email }}
									</p>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 text-center">
								<div class="city_health2_service">
									<span>
										<i class="fa fa-phone"></i>
									</span>
									<h5>
										<a href="#">{{ 'Contact Number'|t }}</a>
									</h5>
									<p>
										{{ suggestion_complaint_emergency }}
									</p>
								</div>
							</div>
							<div class="col-md-3 col-sm-12 text-center">
								<div class="city_health2_service">
									<span>
										<i class="fa fa-clock"></i>
									</span>
									<h5>
										<a href="#">{{ 'Office Hours'|t }}</a>
									</h5>
									<p>
										{{ suggestion_complaint_office_hours }}
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{# CITY REQUEST WRAP END #}
	<footer>
		<div class="widget_wrap overlay">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-6">
						{{ page.footer_first }}
						<div class="widget_list">
							<h4 class="widget_title">{{ 'Contact Us'|t }}</h4>
							<div class="widget_text">
								<ul>
									<li>
										<a href="#">
											<i class="fa fa-phone"></i>
											&nbsp;
											{{ cityphone}}</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-envelope"></i>&nbsp;
											{{ cityemail }}</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-sitemap"></i>&nbsp;
											{{ cityaddress }}</a>
									</li>
								</ul>
								<p>{{ cityname }}</p>
							</div>
						</div>
					</div>
					<div class="col-md-9">
						<div class="row">
							<div class="col-md-4 col-sm-6">
								<div class="widget_list">
									<h4 class="widget_title">{{ 'Useful Links'|t }}</h4>
									<div class="widget_service">
										{{ page.footer_second }}
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<div class="widget_list">
									<h4 class="widget_title">{{ 'Offices'|t }}</h4>
									<div class="widget_service">
										{{ page.footer_third }}
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<div class="widget_list">
									<h4 class="widget_title">{{ 'Government Links'|t }}</h4>
									<div class="widget_service">
										{{ page.footer_fourth }}
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="widget_copyright">
						<div class="col-md-6 col-sm-6 align-left">
							<div class="copyright_text">
								<p>
									<span>{{ 'Powered By'|t }}
										<a href="www.mint.gov.et">{{ 'MinT'|t }}</a>
										| Copyright © 2021
										{{ cityname }}.</span>
								</p>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 text-right">
							<ul class="list-inline ">
								<li class="list-inline-item">
									<a href="#">{{ 'Terms & Conditions'|t }}</a>
								</li>
								|
								<li class="list-inline-item">
									<a href="#">{{ 'FAQ'|t }}</a>
								</li>
								|
								<li class="list-inline-item">
									<a href="#">{{ 'Privacy Policy'|t }}</a>
								</li>
								|
								<li class="list-inline-item">
									<a href="#">{{ 'Sitemap'|t }}</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>
{# /.layout-container #}

<script>
	var cur_lang = 'en';
function myFunction() {

var x = document.getElementById("mySelect").value;
var cur_lang = x;
// Simulate a mouse click:

window.location.href = "https://cityaddisababa.gov.et/" + cur_lang;


}
</script>

<div id="fb-root"></div>
  
 <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
